{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "polished",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "app": "./app",
          "shared": "./app/shared",
          "main": "./app/main",
          "renderer": "./app/renderer"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "ramda",
          {
            "useES": true
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        [
          "ramda",
          {
            "useES": true
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
